<div class="splash">
  <%= image_tag("logo.png", class: "splash-logo") %>
  <%= button_to "LOG IN", new_user_session_path, method: :get, class: "splash-login mb" %> </button>
  <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: "splash-signup" %> </button>
  <%# <button class="splash-login mb"> <%= link_to "LOG IN", new_user_session_path, class: "splash-login__link" %> </button>
  <%# <button class="splash-signup"> <%= link_to "SIGN UP", new_user_registration_path, class: "splash-signup__link" %> </button>
</div>