<ul id="<%= dom_id expense %>" class="category">
  <div class="category-unit">
    <li class="category-unit__expense">
      <p><%= expense.name %></p>
      <p>
        <% expense.groups.each do |group| %>
          <i class="<%= group.icon %>"></i>
        <% end %>
      </p>
    </li>

    <li>
      $<%= expense.amount %>
    </li>

    <li class="category-unit__date">
      <%= expense.created_at.strftime("%H:%M | %b %d, %Y") %>
    </li>
  </div>

</ul>
