<nav class="navbar">
  <ul class="navbar-ul">

  <% if current_page?(new_user_session_path) %>
    <li>
      <%= link_to root_path, class: "back-to" do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>
    </li>
    <li><p>LOGIN</p></li>
  <% end %>

  <% if current_page?(new_user_registration_path) %>
    <li>
      <%= link_to root_path, class: "back-to" do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>
    </li>
    <li><p>REGISTER</p></li>
  <% end %>

  <% if (current_page?(groups_path) && user_signed_in?) %>
    <li><i class="fa-solid fa-bars"></i></li>
    <li><p>CATEGORIES</p></li>
    <li class="navbar-ul-li">
      <%= current_user.name %> |
      <%= link_to "Logout", destroy_user_session_path, :class => "navbar-ul-li__logout", method: :delete, data: { turbo_method: :delete } %>
    </li>
  <% end %>

  <% if current_page?(new_group_path) %>
    <li>
      <%= link_to groups_path, class: "back-to" do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>
    </li>
    <li><p>NEW CATEGORY</p></li>
  <% end %>
    
  </ul>
</nav>